@import "../../less/variables";

body {
    min-height: 100vh;
    background-color: #F2F2F2;
}

.page-holder {

}

.top-menu {
    background: @topMenuBackgroundColor;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 2;
    width: 100%;
}

.top-menu__holder {
    max-width: @maxWidthContent;
    margin: 0 auto;
}

.side {
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.side-left {
    float: left;
    width: 300px;
    position: relative;
    top: -70px;
    text-align: center;
}

.side-center {
    padding-left: 300px;
    position: relative;
    top: -70px;
}

.content {
    min-height: 100%;
    &.has-top-menu {
        padding-top: @topMenuHeight;
    }
}